<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">

    <title>IIT Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>

<body>

        <div class="wrapper">
            <div class="title"> IIT Chatbot</div>
            <div class="form">
                <div class="bot-inbox inbox">
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="msg-header">
                        <p>Hello there, how can i help you?</p>
                    </div>
                </div>
            </div>


            <div class="typing-field">
                <div class="input-data">
                        <input type="text" placeholder="Type something here" name="question" id="question">

                    <button id="submit-button">Send</button>

                </div>

            </div>
        </div>

        <script src="/static/jquery.min.js" ></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/index.js"></script>







</body>
</html>